.home-header{
    background: linear-gradient(to bottom,rgb(0, 0, 0),rgb(147, 168, 199));
    min-height: 150px;
}

.new-account{
    background-color: rgb(147, 168, 199);
    

        
}
.create-account{
    padding-top: 100px;
    padding-bottom: 100px;
}
.form-size{
    max-width: 400px;
    margin: auto;
}


